.a {
    font-family: sans-serif;
}

.name {
    margin: 10px 0px;
    font-size: 25px;
    font-family: sans-serif;
}

.btn {
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    margin: 10px 0px;
    font-family: sans-serif;
}

.input1 {
    width: 150px;
    height: 30px;
    margin: 10px 0px;
    font-family: sans-serif;
}

.input2 {
    width: 150px;
    height: 30px;
    margin: 10px 0px;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
}